<div class="container"> 

  <div class="display-4 text-center mb-4">Cadastrar Disciplina</div>
<form [formGroup]="formGroupMatter">
    <div class="mb-3">
      <label for="inputId" class="form-label">ID</label>
      <input formControlName="id" type="text" class="form-control" id="inputId">
    </div>

    <div class="mb-3">
      <label for="inputName" class="form-label">Nome da Disciplina</label>
      <input formControlName="name2" type="text" class="form-control" id="inputName">
    </div>

    <div class="mb-3">
      <label for="inputWorkLoad" class="form-label">Carga Horária</label>
      <input formControlName="workload" type="text" class="form-control" id="inputWorkLoad">
    </div>
    <div class="mb-3">
      <label for="inputSemester" class="form-label">Semestre</label>
      <input formControlName="semester" type="text" class="form-control" id="inputSemester">
    </div>
    <div class="mb-3">
  <label class="form-label">Turno</label>
  <div class="form-check">
    <input class="form-check-input" type="radio" formControlName="turn" id="turnoManha" value="Manhã">
    <label class="form-check-label" for="turnoManha">
      Manhã
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" formControlName="turn" id="turnoTarde" value="Tarde">
    <label class="form-check-label" for="turnoTarde">
      Tarde
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" formControlName="turn" id="turnoNoite" value="Noite">
    <label class="form-check-label" for="turnoNoite">
      Noite
    </label>
  </div>
</div>
    <button *ngIf="!isEditing" type="button" class="btn btn-primary me-2"(click)="save()">Salvar</button>
    <button *ngIf="isEditing" type="submit" class="btn btn-primary"(click)="update()">Atualizar</button>
  </form>
  <hr>
  Disciplinas Cadastradas: {{matters.length}}
  <div class="row">
    <div *ngFor="let p of matters" class="col-md-4">
      <div class="card shadow mt-3" style="width: 300px;">
        <img src="assets/images/matter.png" class="card-img-top" alt="Foto Disciplina">
        <div class="card-body">
          <h5 class="card-title">{{ p.name2 }}</h5>
          <p class="card-text">
            <strong>ID:</strong> {{ p.id }} <br>
            <strong>Carga Horária:</strong> {{ p.workload }} <br>
            <strong>Semestre:</strong> {{ p.semester }} <br>
            <strong>Turno:</strong> {{ p.turn }} <br>
          <td>
            <button class="btn btn-danger me-2"(click)="OnClickDelete(p)">
            Remover
            </button>
          </td>
          <td>
            <button class="btn btn-secondary" (click)="OnClickUpdate(p)" >
            Alterar
            </button>
          </td>  
        </div>
      </div>
    </div>
  </div>
</div>
